h3{
    text-align: center;
}
form, table{
    width: 100%;
}
#a{
   margin-right: 20px;
}
#b{
    margin-right: 20px;
}
#c{
    width: 562px; 
}
#d{
    width: 562px;
}
#e{
    margin-right: 20px;
}
#f{
    margin-right: 20px;
}
#g{
    width: 562px; 
    height: 35px;
}
#h{
    height: 25px;
}