.grid-container{
    display: grid;
    border: 1;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto;
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third] 20px;
    grid-area: footer;
}

.container{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main , sidebar"
    "footer footer footer footer";
}
.center{
    display: grid;
    place-items: center;
}
.container{
    justify-content: center;
}
.item-a{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.item-b{
    grid-column: 5 / 6;
    grid-row: 2 / 3; 
}
.container{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 30px 30px;
    grid-auto-flow: row;
}